@*@model JobEngine.Web.Areas.AssemblyJobs.Models.SelectAutomationJobTypeViewModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Select Automation Job Type</h2>


<table class="table">
    <tr>
        <th>
            Automation Job Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AutomationJobTypes)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Select", item.ActionLink) 
        </td>
    </tr>
}

</table>*@
