<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>  
  </configSections>

  <appSettings>
    <add key="JobEngineClientId" value="F120F9C0-5ACF-E511-828B-4C34883F5CC2"/>
    <add key="RealtimeUrl" value="http://localhost"/>
    <add key="ApiUrl" value="http://localhost"/>
    <add key="ApiUsername" value="username"/>
    <add key="ApiPassword" value="password"/>
    <add key="TempFileDirectory" value="C:\Temp"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- Configure logging -->
  <log4net>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5120KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %-5level - %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%date - %-5level - %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <!--<appender-ref ref="SmtpAppender"/>-->
      <!--<appender-ref ref="AdoNetAppender"/>-->
      <!--<appender-ref ref="DebugAppender" />-->
    </root>
  </log4net>
</configuration>